<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="garimpaoConnectionString" connectionString="server=localhost;user id=root;password=;database=garimpao"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587"
        userName="garimpowebshop@gmail.com" enableSsl="true"
        password="GarimpoTheBestShop912@"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="strConexao" value="Database = garimpao; Data Source = localhost; User id = root; Password=; pooling = false; "/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>

    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>

    <!--<customErrors mode="On" defaultRedirect="/Paginas/Erros/Erro404.aspx">
      <error statusCode="404" redirect="/Paginas/Erros/Erro404.aspx"/>
    </customErrors>-->
    
  </system.web>
       
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
        binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
        contract="Correios.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
</configuration>